body {
    background: linear-gradient(to top right, #ffc8da, #615dad);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}


h1 {
    font-family: lobster;
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    align-items: center;
    margin: 3%; 
}

.hlavni {
    flex-direction: column;
    max-width: 80vmin; 
    width: 100%;
}

/*sekce pro tlačítka*/

.tlacitka {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    margin: 0% 10% 10% 0%;
}



.ikona {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 8%;
}


.domek {
    background-color: #1fcca4;
}
.domek:hover {
    background-color: #1cbb96;
}



.restart {
    background-color: #0197f6;
}
.restart:hover {
    background-color: #0090e9;
}




/*hrací pole*/

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
    justify-content: center;
    margin-top: -20px;
    cursor: pointer;
    
}

/*jednotlivé buňky*/

.cell {
    max-width: 80vmin;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.5; 
    aspect-ratio: 1;
    border: 2px solid #000;
}


.cell:hover,
.cell:focus {
 background-color: #f0f0f0;
}



.hra__checkbox {
    display: none;
}

.hra__label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    margin-bottom: -55px;   
    margin-left: 10%; 
   
}

.hra__label p {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}


.board__field {
    width: 60px;
    height: 60px;
}



.board__field--circle::before {
    content: url(img/circlee.svg);
    animation: zoomIn 0.3s ease-out forwards; // přidání animace 
    transform-origin: center;
}

.board__field--cross::before {
    content: url(img/crosss.svg);
    animation: zoomIn 0.3s ease-out forwards; // přidání animace
    transform-origin: center;
    }

    // animace
    
    @keyframes zoomIn {
        0% {
          transform: scale(0);
          opacity: 0;
        }
        100% {
          transform: scale(1);
          opacity: 1;
        }
      }