body {
    text-align: center;
    display: block;
    margin: 8px;
}
h1 {
    font-family: lobster;
    }

 .lobster-regular {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      