body {
    text-align: center;
    display: block;
    margin: 8px;
    background-color: #6a11cb;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 300px;

}

h1 {
    font-family: lobster;
    color: #ffffff;
    }

 .lobster-regular {
        font-family: "Lobster", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    

     .nadpis {
        background-color: #283e50;
     }
    .text {
        background-color: #283e50;
        font-family: Arial;
    }
   
img {
    width: 350px;
    height: 250px;
   }
  

p {
    color:#ffffff;
}


.pravidla {
    color: white;
    background-color: #1fcca4;
    font-family: arial;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
.pravidla:hover {
    background-color:  #1cbb96;
}


.zacit {
    color: white;
    background-color: #0197f6;
    font-family: arial;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}
 .zacit:hover { 
 background-color: #0090e9;
 }

